<footer class="footer" id="footer" textcolor="#FFF">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-sm-6">
                        <aside class="widget">
                            <div class="aboutVeno">
                                <h2 class="fooTitle">echOpen</h2>
                                <p class="venoAddress">
                                    Hotel Dieu building A1 - 6th floor <br>
                                    1 Parvis Notre-Dame - Pl. Jean-Paul II<br> 75004 Paris, France

                                  <br><br>Contact us : <a href="mailto:contact@echopen.org">contact@echopen.org</a></p>

                            </div>

                        </aside>
                    </div>
                   
                    <div class="col-lg-6 col-sm-6">
                         <div class="titleBar2"></div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                         <div class="follow">Follow the signal</div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="normalHr"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2 col-sm-7">
                        <div class="copys">
                            Copyright &copy; 2016<br>  All Right Reserved.</a>
                        </div>

                    </div>
                    <div class="col-lg-8">
                         <div class="mention">
                           <p>
                               Echopen agrees that all personal user information contained in the application form will be considered confidential and are only used for communication purposes. This information will be processed automatically. Under the french “loi informatique et liberté” of January the 6th 1978, the customer has an access, rectification and opposition right to his personal data. For more information, please <a rel="nofollow" class="external text" href="mailto:contact@echopen.org">contact us</a> or have a look on our <a href="http://wiki.echopen.org/index.php/Mentions_l%C3%A9gales" title="Mentions légales">Legal Notices</a> or our wiki <a href="http://wiki.echopen.org/index.php/CGU" title="CGU">Terms of Service</a>.
                           </p>
                       </div>
                    </div>
                    
                </div>
            </div>
        </footer>